/* =========================GERAL=============================================*/

*{
    
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    line-height: 1;
    min-height: 100vh;
    box-sizing: border-box;
}

/* =======================CABEÇALHO=============================================*/

header {
	background: black;
	padding: 1%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 5px;
}

#cabeçalho {
	width: 20%;
	border-radius: 10px;
	border: 1px solid black;

}

#cabeçalho:hover,
#cabeçalho:focus {
	border: 1px outset white;
}

#logo{
	width: 100%;
}

form {
	width: 46%;
	height: 60px;
	display: flex;
	align-items: center;
}

#pesquisar {
	width: 85%;
	height: 50px;
	font-size: 25px;
	color: rgba(0, 0, 0, 0.849);
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
	border: 0;
}

#botao-pesquisar {
	height: 35px;
	font-size: 16px;
	width: 95%;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	border: 0;
}

#botao-fundo {
	background-color: white;
	height: 50px;
	border: 0;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	display: flex;
	align-items: center;
	padding-right: 2%;
	padding-left: 2%;
	transition: 0.4s background;
}

#botao-fundo:hover,
#botao-fundo:focus {
	background: rgb(174, 173, 173);
}

#botao-fundo:active {
	border: 3px inset gray;
}

#login {
	height: 70px;
	width: 16.4%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid black;
}

#login:hover,
#login:focus {
	border: 1px outset white;
}

#imagem-login {
	height: 100%;
	width: 30%;
}

#text-login {
	color: white;
	width: 60%;
	height: 25%;
}


/* ====================CONTEÚDO PRINCIPAL=========================================*/

main {
    background-image: url(img/fundo2.png), url(img/fundo1.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 100% 0%, 0% 0%;
	background-size: 13% 100%, 13% 100%;
	background-attachment: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
}

article {
    width: 44%;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

#titulo-cabeçalho {
    margin: 0;
}

#titulo-central {
    text-align: center;
    font-size: 31px;
	margin-top: 0;
	padding: 1%;
}

#titulo-trailer {
    font-size: 25px;
}

#trailer {
	display: block;
	margin: 0px auto;
	box-shadow: 5px 5px 5px;
}


#elenco {
    font-size: 25px;
}

#lista {
    font-size: 18px;
    color: grey;
	line-height: 1cm;
}

.lista-membro:before {
	content: "✦";
	margin-right: 2%;
}

li u {
    color: black ;
}

/* =======================RODAPÉ========================================== */

#footer {
	display: flex;
	justify-content: flex-end;
	padding: 3%;
	width: 94%;
	align-items: center;
	background: linear-gradient(dimgray, rgb(180, 178, 178));
}

#texto-final {
	color: white;
	height: 18px;
	margin-right: 50%;
	padding-right: 250px;
}

.icon {
	width: 80px;
	height: 80px;
	transition: transform 0.6s;
	transform: translateX(0) scale(1);
}

.icon:hover,
.icon:focus{
	transform: translateX(10px) scale(1.4);
}

/* ====================SITE NO FORMATO DE CELULAR================================= */

@media screen and (max-width: 480px) {
	
	main,article, header, footer {
		width: auto;
	}

	article {
		width: 97%;
	}

	main {
		background-image: none;
	}

	/*   CABEÇALHO   */

	header {
		padding: 5%;
	}

	#cabeçalho {
		width: 28%;
	}

	form, #pesquisar, #botao-fundo {
		height: 50%;
	}

	#pesquisar {
		font-size: 17px;
		height: 28px;
	}

	form {
		width: 40%;
	}

	#botao-pesquisar {
		height: 28px;
	}

	#text-login {
		font-size: 10px;
		height: 50%;
		width: 60%;
		text-align: center;
		margin-right: 5px;
	}

	#login {
		width: 25%;
		height: 30px;
	}

	#imagem-login {
		height: 80%;
		width: 45%;
	}

	/*   PRINCIPAL   */

	#titulo-central {
		font-size: 20px;
	}

	#titulo-trailer, #elenco {
		font-size: 18px;
	}

	#trailer {
		width: 95%;
	}

	#lista {
		font-size: 15px;
		color: rgb(44, 44, 44);
	}

	/*   RODAPÉ   */

	.icon {
		height: 50px;
		width: 50px;
	}

	#texto-final {
		height: 10px;
		padding-right: 0px;
		margin-right: 20%;
		font-size: 10px;
		margin-right: 60px;
	}
}